/* #searchContainer {
  background: rgb(34, 34, 34);
  background-image: url('https://picsum.photos/id/594/1000/700');
  background-blend-mode: soft-light;
  background-attachment: fixed;
  background-size: cover;
  font-weight: bold;
} */

.btn-color-success {
  background-color: #21ab64 !important;
}

::ng-deep .mat-form-field-infix{
  background-color: #edf2f7 !important;
  border-radius: .3rem!important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

