<app-slider></app-slider>
<app-search></app-search>
<div class="container mb-10 text-gray-600">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-4">
      <div class="rounded-t-lg rounded-b-lg hover:shadow-md">
        <ng-container *ngIf="TopCountry">
          <img src="{{ TopCountry.image_card.url }}" alt="" class="rounded-t-lg" />
          <div class="bg-gray-100 rounded-b-lg hover:shadow-md p-4">
            <i class="fas fa-home text-4xl"></i>
            <h3 class="font-bold text-2xl mb-2">Campestres</h3>
            <p>{{ TopCountry.description }}</p>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-4">
      <div class="rounded-t-lg rounded-b-lg hover:shadow-md">
        <ng-container *ngIf="TopUrban">
          <img src="{{ TopUrban.image_card.url }}" alt="" class="rounded-t-lg" />
          <div class="bg-gray-100 rounded-lg p-4">
            <i class="fas fa-home text-4xl"></i>
            <h3 class="font-bold text-2xl mb-2">Urbanas</h3>
            <p>{{ TopUrban.description }}</p>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-4">
      <div class="rounded-t-lg rounded-b-lg hover:shadow-md">
        <ng-container *ngIf="TopCondominium">
          <img src="{{ TopCondominium.image_card.url }}" alt="" class="rounded-t-lg" />
          <div class="bg-gray-100 rounded-lg p-4">
            <i class="fas fa-home text-4xl"></i>
            <h3 class="font-bold text-2xl mb-2">Condominios</h3>
            <p>{{ TopCondominium.description }}</p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
