<app-slider></app-slider>
<app-search></app-search>
<!-- <div class="flex border-t border-b border-gray-300 bg-gray-100">
  <div class="flex align-items-center w-100 md:w-1/2">
    <div class="container px-10 text-right">
      <h1 class="font-bold text-3xl text-gray-700"><a href="" class="no-underline"> Toma la Mejor Opcion</a></h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>
  <div style="background-image: url(https://picsum.photos/id/145/1920/800); background-position: center; height: 400px;"
    class="bg-blue-700 w-100 md:w-1/2"></div>
</div> -->
<div class="container mb-10 text-gray-600">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-4">
      <div class="bg-gray-100 rounded-lg hover:shadow-md p-4">
        <i class="fas fa-home text-4xl"></i>
        <h3 class="font-bold text-2xl mb-2">Casas Campestres</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae repudiandae sit autem vitae cum vel
          voluptas illo. Earum ipsa praesentium nihil, dolorum neque impedit molestias voluptatem expedita voluptate ex
          numquam.</p>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-4">
      <div class="bg-gray-100 rounded-lg hover:shadow-md p-4">
        <i class="fas fa-home text-4xl"></i>
        <h3 class="font-bold text-2xl mb-2">Casas Piscina</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae repudiandae sit autem vitae cum vel
          voluptas illo. Earum ipsa praesentium nihil, dolorum neque impedit molestias voluptatem expedita voluptate ex
          numquam.</p>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-4">
      <div class="bg-gray-100 rounded-lg hover:shadow-md p-4">
        <i class="fas fa-home text-4xl"></i>
        <h3 class="font-bold text-2xl mb-2">Casas Toboganes</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae repudiandae sit autem vitae cum vel
          voluptas illo. Earum ipsa praesentium nihil, dolorum neque impedit molestias voluptatem expedita voluptate ex
          numquam.</p>
      </div>
    </div>
  </div>
</div>