<app-slider></app-slider>
<app-search></app-search>
<div class="container mb-10 text-gray-600">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-4">
      <div class="bg-gray-100 rounded-lg hover:shadow-md p-4">
        <i class="fas fa-home text-4xl"></i>
        <h3 class="font-bold text-2xl mb-2">Casas Campestres</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae repudiandae sit autem vitae cum vel voluptas illo. Earum ipsa praesentium nihil, dolorum neque impedit molestias voluptatem expedita voluptate ex numquam.</p>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-4">
      <div class="bg-gray-100 rounded-lg hover:shadow-md p-4">
        <i class="fas fa-home text-4xl"></i>
        <h3 class="font-bold text-2xl mb-2">Casas Piscina</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae repudiandae sit autem vitae cum vel voluptas illo. Earum ipsa praesentium nihil, dolorum neque impedit molestias voluptatem expedita voluptate ex numquam.</p>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 mt-4">
      <div class="bg-gray-100 rounded-lg hover:shadow-md p-4">
        <i class="fas fa-home text-4xl"></i>
        <h3 class="font-bold text-2xl mb-2">Casas Toboganes</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae repudiandae sit autem vitae cum vel voluptas illo. Earum ipsa praesentium nihil, dolorum neque impedit molestias voluptatem expedita voluptate ex numquam.</p>
      </div>
    </div>
  </div>
</div>
