<footer class="shadow-lg pt-6 bg-gray-100 text-gray-700">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 text-center flex items-center">
        <img src="assets/images/logo.png" alt="" class="rounded-full w-50 mx-auto" />
      </div>
      <div class="col-12 col-md-4">
        <div class="row text-sm text-secondary my-4">
          <div class="col-md-6 my-2">
            <h3 class="font-bold text-center my-2 md:text-left">Horarios de Atencion</h3>
            <div class="flex justify-content-center">
              <p class="">Lunes a Viernes: <br />08:00 AM a 06:00 PM</p>
              <p class="ml-2 md:ml-0">Sabados: <br />08:00 AM a 02:00 PM</p>
            </div>
          </div>
          <div class="col-md-6 my-2">
            <div class="flex justify-content-center">
              <h3 class="font-bold"><i class="fas fa-mobile-alt"></i> Celular:</h3>
              <a href="" class="mx-2"> 3143151172</a>
              <h3 class="font-bold ml-2 md:ml-0"><i class="fab fa-whatsapp"></i> Whatsapp:</h3>
              <a href="" class="mx-2"> 3143151172</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="flex text-sm text-secondary ">
          <div class="w-1/3 text-center">
            <img src="assets/images/certif.webp" alt="" class="rounded-full w-20 h-20 mx-auto" />
          </div>
          <p class="w-2/3">
            Cada una de nuestras fincas, antes de ser publicada, pasa por un riguroso sistema de verificación de sus
            propietarios.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-row justify-center items-center mt-6 py-3 bg-gray-900 text-gray-300 border-t-4 border-green-500">
    <div class="text-center">
      © 2019 AlquilerFincas.com
    </div>
  </div>
</footer>